:root {
  --color-background: 39, 44, 56;
  --color-foreground: 31, 35, 45;
  --color-text: 159, 173, 189;
  --color-text-light: 129, 140, 153;
  --color-text-bright: 237, 241, 245;
  --color-blue: 61, 180, 242;
}

body {
  background-color: rgb(var(--color-background));
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(var(--color-text-bright));
  transition: .3s;
}

a:hover {
  color: rgb(var(--color-blue));
}

.component-container {
  width: 45%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.highlight {
  color: rgb(var(--color-blue));
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color-background));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-blue));
}

@media screen and (max-width: 1682px) {
  .component-container {
    justify-content: center;
  }
}

@media screen and (max-device-width: 500px) {
  .component-container {
    width: 90% !important;
  }
}
